.cart {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.cart__link {
  display: block;
  margin-bottom: 30px;
}

.cart__image {
  display: block;
  width: 260px;
  height: 195px;
  background-color: maroon;
}

.name__link {
  text-decoration: none;
}

.cart__name {
  padding-left: 28px;
  padding-right: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.cart__features {
  margin: 0;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 20px;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.cart__wrap-price {
  display: flex;
  padding-left: 28px;
  padding-right: 28px;
}

.cart__price {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .cart {
    display: flex;
  }

  .cart__link {
    margin-bottom: 0;
  }

  .cart__image {
    width: 334px;
    height: 334px;
  }

  .cart__wrap {
    display: flex;
    flex-direction: column;
    width: 334px;
    justify-content: space-between;
  }

  .cart__name {
    font-size: 20px;
  }

  .cart__features {
    font-size: 15px;
  }

  .cart__price {
    font-size: 17px;
  }
}

@media (min-width: 1150px) {
  .cart {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;
  }

  .cart:nth-child(3n) {
    margin-right: 0;
  }

  .cart__link {
    margin-bottom: 30px;
  }

  .cart__image {
    width: 316px;
    height: 462px;
  }

  .cart__wrap {
    width: 316px;
    min-height: 170px;
    justify-content: flex-start;
  }

  .cart__name {
    min-height: 50px;
  }
}
