.contacts {
  padding-top: 42px;
  padding-bottom: 40px;
}

.contacts__head {
  width: 260px;
  margin: 0 auto;
}

.contacts__data {
  width: 260px;
  margin-top: 23px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}

.contacts__field {
  width: 30%;
  vertical-align: top;
  padding-bottom: 29px;
}

.contacts__value {
  vertical-align: top;
  width: 70%;
}

.contacts__link {
  display: inline-block;
  text-decoration: none;
  color: #444444;
  border-bottom: 1px solid #63d1bb;
}

.contacts__link:hover {
  color: #46c1ae;
  border-bottom: 1px solid #63d1bb;
}

.contacts__link:active {
  color: #46c1ae;
  border-bottom: 1px solid #63d1bb;
  opacity: 0.3;
}

.contacts__value--address {
  padding-right: 20px;
}

.contacts-image {
  display: block;
  width: 322px;
  height: 457px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  background-color: green;
}

.contacts__button {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 73px;
    padding-bottom: 60px;
  }

  .contacts__head {
    position: relative;
    width: 668px;
  }

  .contacts__head::before {
    position: absolute;
    content: "";
    right: 0;
    top: -13px;
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .contacts__data {
    width: 668px;
    margin-top: 50px;
    margin-bottom: 55px;
    font-size: 17px;
    line-height: 30px;
  }

  .contacts__data tbody {
    display: flex;
  }

  .contacts__data tr {
    width: 332px;
  }

  .contacts__field {
    width: 76px;
  }

  .contacts__value {
    width: 256px;
  }

  .contacts-image {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }

  .contacts__button {
    width: 230px;
  }
}

@media (min-width: 1150px) {
  .contacts {
    position: relative;
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 175px;
    padding-top: 165px;
    padding-bottom: 108px;
  }

  .contacts__head {
    width: 875px;
    margin-bottom: 50px;
  }

  .contacts__head::before {
    position: absolute;
    content: "";
    left: -114px;
    top: -13px;
    width: 47px;
    height: 82px;
    background-image: url("../img/icon-flag.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .contacts__data {
    width: 350px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 73px;
  }

  .contacts__data tbody {
    display: table;
  }

  .contacts-image {
    position: absolute;
    width: 525px;
    height: 457px;
    margin-bottom: 0;
    bottom: 108px;
    right: 0;
  }

  .contacts__button {
    margin-left: 0;
    margin-right: 0;
  }
}
