.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__link {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-between;
  width: 182px;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.copyright__link:active {
  opacity: 0.3;
}

.copyright__link-logo {
  margin-left: 22px;
  vertical-align: middle;
  fill: #63d1bb;
}

.copyright__link-logo:hover,
.copyright__link-logo:active {
  fill: #46c1ae;
}
