.featured {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  color: #444444;
}

.featured__wrap-heads {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 23px;
}

.featured__head {
  margin: 0;
  padding-top: 6px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #63d1bb;
}

.featured__description {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
  background-color: lime;
}

.featured__tab {
  width: 100%;
  margin-bottom: 29px;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  background-color: yellow;
}

.featured__tab tr {
  border-bottom: 1px solid #ececec;
}

.featured__field {
  width: 39%;
  height: 40px;
}

.featured__value {
  width: 61%;
}

.featured__image {
  margin-bottom: 20px;
  width: 260px;
  height: 315px;
}

.featured__price {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 768px) {
  .featured {
    width: 668px;
  }

  .featured__wrap-heads {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  .featured__head {
    width: 105px;
    padding-top: 10px;
    padding-right: 22px;
    line-height: 17px;
    text-align: center;
  }

  .featured__wrap-cart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 334px;
  }

  .featured__description {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 5px;
  }

  .featured__tab {
    width: 290px;
    margin-bottom: 53px;
  }

  .featured__field {
    width: 32%;
  }

  .featured__price {
    padding-right: 44px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 38px;
  }

  .featured__image {
    position: absolute;
    bottom: 0;
    left: 334px;
    margin-bottom: 0;
    width: 333px;
    height: 404px;
  }
}

@media (min-width: 1150px) {
  .featured {
    width: 1050px;
  }

  .featured__wrap-heads {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 50px;
  }

  .featured__sub-head {
    margin-left: 35px;
  }

  .featured__head {
    width: 105px;
    margin-left: 30px;
    padding-top: 15px;
    padding-right: 0;
    line-height: 17px;
    text-align: center;
  }

  .featured__wrap-cart {
    width: 525px;
    padding-left: 175px;
  }

  .featured__description {
    margin-bottom: 15px;
  }

  .featured__tab {
    margin-bottom: 110px;
  }

  .featured__price {
    padding-right: 50px;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 36px;
  }

  .featured__image {
    left: 525px;
    width: 525px;
    height: 636px;
    z-index: -1;
  }
}
