.form {
  width: 260px;
  margin: 0 auto;
}

.form__fieldset {
  border: none;
  border-top: 1px solid #63d1bb;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 30px;
}

.form__fieldset--contacts {
  border: none;
  padding-top: 0;
  padding-bottom: 31px;
}

.form__legend {
  padding-left: 0;
  padding-right: 20px;
  color: #63d1bb;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
}

.wrap-field {
  margin-bottom: 21px;
}

.wrap-field--radio {
  margin-bottom: 12px;
}

.wrap-field:last-child {
  margin-bottom: 0;
}

.form__input {
  width: 100%;
  min-height: 49px;
  font-size: 17px;
  color: #444444;
  border: none;
  border-bottom: 2px solid #444444;
}

.form__input:hover,
.form__input:active {
  border-bottom: 2px solid #62d1ba;
}

.form ::placeholder {
  font-size: 17px;
  line-height: 48px;
  font-weight: 400;
  color: rgba(68, 68, 68, 0.3);
}

.form__label {
  position: relative;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

input[type="radio"] + .form__label,
input[type="checkbox"] + .form__label {
  display: inline-block;
  min-height: 40px;
  padding-left: 62px;
  padding-top: 10px;
}

input[type="radio"]:focus + .form__label,
input[type="checkbox"]:focus + .form__label {
  outline: 1px solid #5e9ed6;
}

input[type="radio"]:checked + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #444444;
}

input[type="radio"]:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: 9px;
  width: 18px;
  height: 18px;
  background-color: #62d1ba;
  border-radius: 50%;
}

input[type="radio"]:checked:hover + .form__label::before {
  border: 2px solid #62d1ba;
}

input[type="radio"]:checked:active + .form__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

input[type="radio"] + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #444444;
}

input[type="radio"]:hover + .form__label::before {
  border: 2px solid #62d1ba;
}

input[type="radio"]:active + .form__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

input[type="radio"]:disabled + .form__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
  background-color: rgba(68, 68, 68, 0.3);
}

input[type="checkbox"]:checked + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}

input[type="checkbox"]:checked + .form__label::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 7px;
  width: 23px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-size: 23px auto;
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked:hover + .form__label::before {
  border: 2px solid #62d1ba;
}

input[type="checkbox"]:checked:active + .form__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

input[type="checkbox"] + .form__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -2px;
  width: 40px;
  height: 40px;
  border: 2px solid #444444;
}


input[type="checkbox"]:hover + .form__label::before {
  border: 2px solid #62d1ba;
}

input[type="checkbox"]:active + .form__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
}

input[type="checkbox"]:disabled + .form__label::before {
  border: 2px solid rgba(68, 68, 68, 0.3);
  background-color: rgba(68, 68, 68, 0.3);
}

.form__label--fio {
  display: inline-block;
  margin-bottom: 0;
}

.form__group-wrap--contacts {
  position: relative;
  padding-top: 0;
}

.form__group-wrap--contacts + .form__group-wrap--contacts {
  margin-top: 28px;
}

.form__group-wrap--contacts::before {
  position: absolute;
  top: 10px;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #62d1ba;
  z-index: -1;
}

.form__legend--contacts {
  display: inline-block;
  width: auto;
  z-index: 1;
  background-color: #ffffff;
  padding-bottom: 10px;
}

.form__fieldset--contacts svg {
  position: absolute;
  fill-opacity: 0.2;
}

.form__icon-tel {
  right: 3px;
  top: 35px;
}

.form__icon-mail {
  right: 3px;
  top: 35px;
}

.form__legend--contacts:hover .form__icon-tel,
.form__legend--contacts:hover .form__icon-mail,
.form__legend--contacts:active .form__icon-tel,
.form__legend--contacts:active .form__icon-mail {
  fill-opacity: 1;
  fill: #62d1ba;
}

.form__textarea {
  width: 100%;
  margin-top: 15px;
  min-height: 141px;
  padding-top: 15px;
  padding-left: 12px;
  padding-right: 10px;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.form__textarea:hover,
.form__textarea:active {
  border: 2px solid #62d1ba;
}

.form__textarea::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.3);
}

.form__footer {
  margin-top: 13px;
}

.form__text {
  margin: 0;
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: 768px) {
  .form {
    width: 100%;
  }

  .form__wrap-fon {
    background-color: #f1f1f1;
  }

  .form__fieldset {
    position: relative;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
  }

  .form__fieldset--color {
    padding-bottom: 25px;
  }

  .form__legend {
    position: absolute;
    top: 65px;
    left: 0;
  }

  .form__group-wrap {
    padding-left: 167px;
  }

  .wrap-field {
    margin-bottom: 24px;
  }

  .wrap-field--radio {
    margin-bottom: 24px;
  }

  .form__group-wrap--inline .wrap-field {
    display: inline-block;
    width: 238px;
  }

  .form__group-wrap--inline .wrap-field:nth-child(2n) {
    margin-left: 20px;
  }

  .form__group-wrap--fio .wrap-field {
    display: flex;
  }

  .form__input {
    min-height: 52px;
    font-size: 19px;
    padding-left: 15px;
  }

  .form__input--fio {
    width: 100%;
  }

  .form ::placeholder {
    font-size: 19px;
    line-height: 48px;
  }

  .form__label {
    font-size: 19px;
    line-height: 19px;
  }

  .form__label--fio {
    padding-top: 14px;
    padding-right: 28px;
  }

  input[type="radio"] + .form__label,
  input[type="checkbox"] + .form__label {
    min-height: 52px;
    padding-left: 79px;
    padding-top: 15px;
  }

  input[type="radio"]:checked + .form__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #000000;
  }

  input[type="radio"]:checked + .form__label::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    width: 20px;
    height: 20px;
    background-color: #62d1ba;
    border-radius: 50%;
  }

  input[type="radio"] + .form__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #000000;
  }

  input[type="checkbox"]:checked + .form__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    border: 2px solid #000000;
  }

  input[type="checkbox"]:checked + .form__label::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 7px;
    width: 36px;
    height: 25px;
    background-image: url("../img/icon-tick.svg");
    background-size: 36px auto;
    background-repeat: no-repeat;
  }

  input[type="checkbox"] + .form__label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 52px;
    height: 52px;
    border: 2px solid #000000;
  }

  .form__fieldset.form__fieldset--contacts {
    width: 100%;
    background-color: #f1f1f1;
  }

  .form__group-wrap--contacts {
    width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__group-wrap--contacts::before {
    display: none;
  }

  .form__group-wrap--contacts + .form__group-wrap--contacts {
    margin-top: 24px;
  }

  .form__legend--contacts {
    top: 16px;
    background-color: transparent;
  }

  .form__input--tel,
  .form__input--email {
    background-color: #f1f1f1;
  }

  .form__icon-tel {
    right: -585px;
    top: -5px;
  }

  .form__icon-mail {
    right: -570px;
    top: -5px;
  }

  .form__group-wrap--message {
    margin-top: 35px;
  }

  .form__group-wrap--message .form__legend--contacts {
    top: 30px;
  }

  .form__textarea {
    font-size: 19px;
    line-height: 19px;
  }

  .form__textarea::placeholder {
    line-height: 19px;
  }

  .form__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
  }

  .form__text {
    order: 2;
    padding-bottom: 0;
    font-size: 17px;
    line-height: 30px;
  }

  .form__button {
    width: 228px;
  }
}

@media (min-width: 1150px) {
  .form {
    width: 100%;
  }

  .form__fieldset {
    width: 1050px;
  }

  .form__legend {
    margin-left: 60px;
  }

  .form__group-wrap {
    padding-left: 175px;
  }

  .form__group-wrap--inline .wrap-field {
    display: inline-block;
    width: 260px;
  }

  .form__group-wrap--inline .wrap-field:nth-child(2n) {
    margin-left: 0;
  }

  .form__group-wrap--contacts {
    width: 1050px;
  }

  .form__group-wrap--fio .wrap-field,
  .form__input--tel,
  .form__input--email {
    width: 700px;
  }

  .form__icon-tel {
    right: -745px;
    top: -5px;
  }

  .form__icon-mail {
    right: -730px;
    top: -5px;
  }

  .form__textarea {
    width: 700px;
  }

  .form__footer {
    width: 700px;
    margin-top: 49px;
  }
}
