.handmade {
  width: 260px;
  margin: 0 auto;
  border: 1px solid #ececec;
  padding-bottom: 35px;
}

.handmade__video {
  margin: 0;
}

.handmade__text {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
