.page-footer {
  display: flex;
  background-color: #f1f1f1;
}

.page-footer__wrap {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin: 0;
  min-height: 80px;
}

.page-footer__copyright {
  margin: 0;
  min-height: 80px;
}

@media (min-width: 768px) {
  .page-footer__wrap {
    flex-direction: row;
    width: 668px;
    min-height: 144px;
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__logo {
    display: flex;
    width: 184px;
  }

  .page-footer__logo-link:hover svg path {
    fill: #46c1ae;
  }

  .page-footer__logo-link:active svg path {
    fill: #46c1ae;
    fill-opacity: 0.3;
  }
}

@media (min-width: 1150px) {
  .page-footer__wrap {
    width: 1050px;
  }
}
