.page-main {
  margin: 0;
}

.page-main__wrap {
  position: absolute;
  left: 0;
  right: 0;
}

.page-main__fon {
  background-color: #f1f1f1;
}

.page-main__fon--home {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% 20%;
}

.page-main__head {
  margin: 0;
}

.page-main__division {
  margin: 0;
}

.page-main__featured {
  margin: 0;
  padding-top: 518px;
  padding-bottom: 40px;
}

.page-main__about {
  margin-bottom: 60px;
}

.page-main__catalog {
  margin: 0;
  padding-top: 172px;
}

.page-main__handmade {
  margin-top: 0;
  margin-bottom: 60px;
}
